[submodule "libs/glsl_analyzer"]
	path = libs/glsl_analyzer
	url = https://github.com/OSDVF/glsl_analyzer.git
[submodule "libs/positron"]
	path = libs/positron
	url = https://github.com/OSDVF/positron.git
[submodule "libs/ctregex"]
	path = libs/ctregex
	url = https://github.com/alexnask/ctregex.zig.git
[submodule "libs/zig-header-gen"]
	path = libs/zig-header-gen
	url = https://github.com/OSDVF/zig-header-gen.git
[submodule "libs/Vulkan-Docs"]
	path = libs/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "editor/deshader-vscode"]
	path = editor/deshader-vscode
	url = https://github.com/OSDVF/deshader-vscode.git
[submodule "libs/websocket"]
	path = libs/websocket
	url = https://github.com/OSDVF/websocket.zig.git
[submodule "bootstrap/llvm-ir-cmake"]
	path = bootstrap/llvm-ir-cmake
	url = https://github.com/compor/llvm-ir-cmake-utils.git
[submodule "editor/glsl-language-support"]
	path = editor/glsl-language-support
	url = https://github.com/filippofracascia/glsl-language-support.git
[submodule "bootstrap/install_name_tool"]
	path = bootstrap/install_name_tool
	url = https://github.com/dmikushin/install_name_tool.git
